#mainView{
	padding: 20px;
}
.innerMain{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
}
.navDiv{
	flex: 20;
	display: flex;
	flex-direction: column;
}
.carouselDiv{
	flex: 80;
}


.titleDiv{
	display: flex;
	flex: 95;
	align-items: center;
	justify-content: center;
	text-align: center;
	.title{
		color: #4a90e2;
		font-size: 28px;
	}
}
.progressDiv{
	flex: 5;
}