.pageThree{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.checkImg{
	display: flex;
	justify-content: center;
}
.gotoDash{
	margin-top: 30px; 
	display: flex;
	justify-content: center;
}